.nav-link:hover {
  color: blue !important;
}

.bg-dark {
  background-color: #111 !important;
}

.text-light:hover {
  color: grey !important; 
}

.bg-light-purple {
background: radial-gradient(circle, rgba(119,221,238,.5) 0%, rgba(170,170,221,1) 100%);
}

.active {
  background-color: #aad !important
}

h1 {
  font-family: 'Gemunu Libre', sans-serif;
}

.z-index-1 {
  z-index: 1;
}

.image-max {
  max-width: 500px;
}

.image-shadow {
  padding: 0;
  border: 5px  black;
  box-shadow: 0 0 0 0 #ADADEE;
}

.image-shadow:hover {
  box-shadow: 0 0 40px 20px lawngreen;
}

#spirals {
  width: 100% ;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 50px;
}



/* Home */

/* About */

/* Contact */

@media (max-width: 768px) {
  #about-button {
    margin-top: 1.5rem;
  }

  .bg-dark {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}