.text-gray {
  color: #555;
}

.bg-light-purple {
background: radial-gradient(circle, #a0a0ff 0%, #aad 100%);
}

.navbar-brand:hover {
  color: #99f !important;
}

.serif {
  font-family: 'Junge', serif;
}

.sans {
  font-family: 'Gemunu Libre', sans-serif;
}

.image-max {
  max-width: 500px;
}

.image-shadow {
  padding: 0;
  box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green !important;
}

.image-shadow:hover {
  transform: rotate(-2deg);
}

.btn:hover {
  background-color: #99f;
  border: 2px solid black;
}

/* Home */

/* About */

/* Contact */

@media (max-width: 768px) {
  #about-button {
    margin-top: 1.5rem;
  }

  .bg-dark {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .active h1{
    color: #99f!important;
  }
}

@media (min-width: 768px) {
  .active {
    background-color: #99f!important;
  }
  
  .nav-link:hover {
    background-color: #a0a0ff !important;
  }
  
  .nav-link:hover h1 {
    color: white !important;
    text-decoration: underline dashed !important;
    text-underline-position: under !important; 
  }

}