/* Background */
.bg-light-purple {
background: radial-gradient(circle, #a0a0ff 0%, #aad 100%);
}

.bg-dark-purple {
  background-color: #99f;
}

.bottom-right {
  position: absolute;
  bottom: 0 !important;
  right: 0 !important;
}

/* Font */
.serif {
  font-family: 'Junge', serif;
}

.sans {
  font-family: 'Gemunu Libre', sans-serif;
}

/* Navbar */
.navbar-brand:hover {
  color: #99f !important;
}

/* Home */

  /* Portrait */
  .portrait-shadow {
    padding: 0;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green !important;
  }

  .portrait-shadow:hover {
    transform: rotate(-2deg);
  }

  /* About Button */
  .btn:hover {
    background-color: #99f;
    border: 2px solid black !important;
  }

/* About */

  /* Github Logo */
  .logo-max {
    max-width: 60px;
  }

  .logo-max:hover {
    opacity: 50%;
  }


/* Contact */


/* Mobile View */
@media (max-width: 992px) {

  /* Nav Links */
  .active h1{
    color: #99f !important;
  }

  /* Portrait */
  .portrait-max {
    max-width: 300px;
  }

  /* About Button */
  #about-button {
    margin-top: 1.5rem;
  }

}

/* Desktop View */
@media (min-width: 992px) {

  /* Nav Links */
  .active {
    background-color: #99f!important;
  }

  .nav-link:hover {
    background-color: #a0a0ff !important;
  }

  .nav-link:hover h1 {
    color: white !important;
    text-decoration: underline dashed !important;
    text-underline-position: under !important; 
  }

  /* Portrait */
  .portrait-max {
    width: auto;
    max-width: 500px !important;
  }
}